.calendarStyle {
    color: darkred;
    
}
.calendarStyle:hover{
    background-color:lightgrey
}

.mapStyle {
    color: darkgreen;
}

.cogStyle {
    color: dimgray;
}
li:hover {
    background-color: lightgrey;
    cursor: pointer;
}
