.calendarStyle {
    color: darkred;
    
}
.calendarStyle:hover{
    background-color:lightgrey
}

.mapStyle {
    color: darkgreen;
}

li:hover {
    background-color: lightgrey;
    cursor:pointer;
}
