.myNavbar {
    background-image: linear-gradient(90deg,#2f783a, #04755f); /* Standard syntax (must be last) */
    ;
    font-size: 16px;
}
.myFont {
    color: white
}
.myFont:focus {
    color: white
}
    .myFont:hover {
        color: white;
        background-color: #255e2d;
    }
nav.navbar.navbar-default {
    border-bottom: none;
}
.myNotification {
    color: #1D3C78;
    margin-top: 10px;
    font-size: 30px;
    padding-bottom:8px;
    padding-right:5px;
    background-color:darkkhaki;
    border-radius:20px;
}
.myNotification[notifications]:after {
        content: attr(notifications);
        position: absolute;
        background-color:red;
        height: 2rem;
        top: 1rem;
        right: 1.5rem;
        width: 2rem;
        text-align: center;
        line-height: 2rem;
        ;
        font-size: 1rem;
        border-radius: 50%;
        color: white;
        border: 1px solid black;
    }
.bgInherit {
    background-color: inherit;
    border: none;
}
    .bgInherit:hover {
        background-color: #255e2d;
        color:;
        border: none;
    }
.bgInherit:focus {
        color: white;
    }
.myToggler{
    color: white;
    font-size:30px;
}
.dropdown-menu {
    width: 300px;
    height: 400px;
}
.dropdown-menu >li > a{
    white-space:normal;
}
.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
.mapsStyle {
    color: white;
    padding-top:3px;
}
